a {
    text-decoration: none;
    color: black;
}

#free {
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    box-shadow: 5px 5px 2px gray;
}
#free:hover {
    background-color: rgb(188, 216, 235);
}

#qna {
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    box-shadow: 5px 5px 2px gray;
}
#qna:hover {
    background-color: rgb(188, 216, 235);
}

hr {
    border: 1.5px solid black;
}

#SNShome {
    margin-left: 10%;
    width: 80%;
    height: 1300px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 15px 15px 10px gray;
    text-align: center;
    overflow-y: scroll;
}

#SNShomet {
    font-weight: bold;
    font-size: 40px;
    color: red;
}

h2 {
    color: blue;
}

#rule {
    padding: 10px 0px;
    text-align: center;
}