/* createChall.css */

/* 컨테이너 스타일 */
.componetContainer {
    text-align: center;
    margin: 20px auto;
}

#createChall-tableSize {
    height: auto;
    width: 800px;
    table-layout: fixed;
}

/* 폼 스타일 */
form {
    width: 80%;
    margin: auto;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

/* 테이블 헤더 스타일 */
th {
    background-color: #f2f2f2;
    padding: 10px;
}

/* 테이블 셀 스타일 */
td {
    padding: 10px;
}

/* 입력 필드 스타일 */
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 8px;
}

/* 이미지 입력 필드 스타일 */
input[type="image"] {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


/* 체크박스 스타일 */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}



.img-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
  }

  #image-show {
    width: 200px;
    height: 200px;

  }

  .addImage {
    width: 400px;
    height: 400px;
    background-color: rgb(231, 230, 230);
    overflow: hidden;
    margin: 0px 10px 10px 0px;
}

.inputImg {
    width: 400px;
    height: 400px;
}

.btn_submit {
    background-color: azure;
    border-radius: 10px;
    font-weight: bold;
    &:hover {
        background-color: rgb(233, 187, 245);
    }
}

.set-center {
    text-align: center;
    align-content: center;
}