#f1 {
    margin-left: 5%;
    margin-top: 35px;
    padding-right: 10%;
}
#f2 {
    padding-right: 10%;
}
#f3 {
    padding-right: 10%;
}
#f4 {
    padding-right: 10%;
}
#f5 {
    margin-right: 5%;
}
#f6 {
    margin-left: 5%;
    margin-top: 50px;
    padding-right: 10%;
}
#f7 {
    padding-right: 10%;
}
#f8 {
    padding-right: 10%;
}
#f9 {
    padding-right: 10%;
}
#f10 {
    margin-right: 5%;
}

#d1 {
    background-color: red;
}