.componentContainer {
  text-align: center;
  padding: 20px;
}

.table-style {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #333; /* 테이블 테두리 추가 */
  border-collapse: separate;
  border-radius: 5px;
}

.table-style h2 {
  margin: 20px 0;
  font-size: 24px;
  color: #333;
}

.table-style td {
  padding: 20px;
}

.recommendButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.recommendButton:hover {
  background-color: #0056b3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#Recommend-tableSize {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

#Recommend-tableSize th {
  text-align: center;
  padding-bottom: 15px;
}

#Recommend-tableSize td {
  padding: 10px;
}

.analysis-btn {
  background-color: azure;
  border-radius: 10px;
  font-weight: bold;
  display: block;
  float: right;
  &:hover {
    background-color: rgb(233, 187, 245);
  }
}

.popup-end-btn {
  position: absolute; /* 절대 위치 설정 */
  bottom: 20px; /* 아래 여백 */
  right: 20px; /* 오른쪽 여백 */
  padding: 10px 20px; /* 패딩 설정 */
  border: none; /* 테두리 없음 */
  background-color: #ccc; /* 배경색 설정 */
  border-radius: 5px; /* 테두리 둥글게 */
  cursor: pointer; /* 커서 포인터로 변경 */
}

.popup-end-btn:hover {
  background-color: #aaa; /* 호버시 배경색 변경 */
}
