section {
    width: 100%;
    display: flex;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

#main {
    display: block;
}

#link {
    text-decoration: none;
    color: black;
}

#gptinput {
    contain: content;
}