#Lbtn1 {
    width: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: 15% 100px;
}
#signup {
    width: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: 15% 100px;
    margin-right: 5px;
}
#last {
    text-align: right;
}
#idsave {
    margin-left: 30px;
    text-align: left;
    font-size: 12px;
}
#checkbox {
    width: 11px;
    height: 12px;
}

#notice {
    color: black;
}
#Bell {
    font-size: 40px;
    margin-right: 10px;
}

#loginbtn {
    width: 95px;
    background-color: white;
    border: 3px solid black;
    border-radius: 35px;
    font-size: 15px;
    font-weight: bold;
}

#clist {
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#create {
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#recommend {
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#mychall {
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 30px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#SNS {
    margin-right: 30px;
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#home {
    margin-right: 30px;
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#t {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-weight: bold;
    font-size: 20px;
}

#t1 {
    color: red;
}
#t2 {
    color: blue;
}

p {
    font-size: 15px;
}